.table3 { margin: 10px 0; }
.table3  th { border:1px solid #dcdcdc; height: 33px; padding-left: 10px; font-weight: bold; background-color: #f5fafe; }
.table3  td {border:1px solid #ccc; height: 28px; padding-left: 10px;}
.table3 { }
.table3 { }